<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
		<parameter name="deviceName" value="1215FC1949B53804" />
    <classes>
      <class name="setLocationProviderPackage.setLocationProviderClass"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
